body
{
    margin: 0pt;
    color: #98999F
}
td
{
    font-weight: normal;
    font-size: 10px;
    color: #98999F;
    font-style: normal;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
.action_text
{
    font-weight: normal;
    font-size: 10px;
    color: #6E6F72;
    font-size: normal;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
.chat_forma
{
    background-color: transparent;
    font-size: 11px;
    color: #000000;
    height: 17px;
    border: 0px;
    font-style: normal;
    font-family: Verdana;
}
.chatpostbut {
    background: #E7E7E7; 
    border-bottom: -BOTTOM: #DDDDDD 0px solid; 
    border-left: #CE0202 0px solid; 
    border-right: #CE0202 0px solid; 
    border-top: #CE0202 0px solid; 
    color: #724000; 
    cursor: pointer; 
    font: 12px Tahoma,Verdana,Helvetica; 
    font-weight: bold;
}