a,span
{
    font-size: 10pt;
    font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
body
{
    font-size: 10pt;
    font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;
}
.chattxt{
    font-family : Verdana, Tahoma, Helvetica, Tahoma, Verdana, sans-serif;
	text-decoration : none;
	color : #000000;
	font-size : 10pt;
}
.nickname{
    font-family : Verdana, Arial, Verdana, Arial, Helvetica, Tahoma, Verdana, sans-serif;
	font-size : 12px;
	text-decoration : none;
	color : #222222;
}
.chattext{
    font-family : Verdana, Helvetica, Arial, Verdana, Arial, Helvetica, Tahoma, Verdana, sans-serif;
	font-size : 13px;
	text-decoration : none;
	color : #222222;
}
.chattime{
    font-family : Tahoma, Verdana, Arial, Verdana, Arial, Helvetica, Tahoma, Verdana, sans-serif;
	font-size : 11px;
	text-decoration : none;
	color : #003366;
}
.yochattime{
    font-family : Tahoma, Verdana, Arial, Verdana, Arial, Helvetica, Tahoma, Verdana, sans-serif;
	font-size : 11px;
	text-decoration : none;
	color : #ffffff;
	background-color:#6699bb;
}
.prchattime{
    font-family : Tahoma, Verdana, Arial, Verdana, Arial, Helvetica, Tahoma, Verdana, sans-serif;
	font-size : 11px;
	text-decoration : none;
	color : #ffffff;
	background-color:#D16F67;
}
.clchattime{
    font-family : Tahoma, Verdana, Arial, Verdana, Arial, Helvetica, Tahoma, Verdana, sans-serif;
	font-size : 11px;
	text-decoration : none;
	color : #FFFFFF;
	background-color:#808080;
}
.massm{
    font-family : Tahoma, Verdana, Arial, Verdana, Arial, Helvetica, Tahoma, Verdana, sans-serif;
	font-size : 11px;
	text-decoration : none;
	color : #ffffff;
	background-color:#EF6B00;
}
.usermenu {
    background-color: #FCFAF3; 
    border-color: #B9A05C #A9904C #A9904C #B9A05C; 
    border-style: solid; 
    border-width: 1px; 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    visibility: hidden;
}

a.usermenulink {
    font-family: Tahoma, Arial, Verdana; 
    font-size: 11px; 
    font-weight: bold; 
    color: #222222; 
    border: 0px solid #000000; 
    padding: 2px 12px 2px 12px; 
    display: block; 
    text-decoration: none;
}
a.usermenulink:hover {
    background-color: #F3ECD7; color: #336699;
}